<!DOCTYPE html>
<html>

<head>
    <title>Crypto Game</title>
    <link rel="icon" href="/img/crypto-icon.png">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>Get Current Cryptocurrency Rate</p>

        <form>
            <select class="select-css" id="select-crypto">
                <option value="" disabled selected>Select Crypto</option>
                <option value="BTC">Bitcoin</option>
                <option value="BCH">Bitcoin Cash</option>
                <option value="LTC">Litecoin</option>
                <option value="ETH">Ethereum</option>
            </select>

            <select class="select-css" id="select-currency">
                <option value="" disabled selected>Select Currency</option>
                <option value="USD">USD</option>
                <option value="AUD">AUD</option>
                <option value="EUR">EUR</option>
                <option value="GBP">GBP</option>
            </select>
            <button>Search</button>
        </form>
        <p id="message-1"></p>
        <p id="message-2"></p>
        <p>test</p>  
    </div>
    {{>footer}}
    <script src="js/app.js"></script>
</body>

</html>