$cyan5: #22b8cf;
$grey6: #868e96;
$grey3: #dee2e6;
$grey8: #343a40;
$grey1: #f1f3f5;

.assets {
    margin-top: 16px;
    width: max-content;
    border: 2px solid #fcc419;
    background-color: #fff9db;
    padding: 6px;
}

.asset-label {
    color: $grey8;
    font-family: arial;
    font-size: 11px;
    padding: 0px 6px 0px 6px;
}