// .footer{     
//     position: sticky; 
//     bottom: 0;
// }

.footer__content {
    color: #888888;
    border-top: 1px solid #EEEEEE;
    margin-top: 48px;
    padding: 16px 0;
    ul {
        list-style-type: none;
        padding-inline-start: 0px;
    }
}