$grey8: #343a40;
$grey7: #495057;
$grey6: #868e96;
$violet9: #5f3dc4;
$indigo4: #748ffc;

.login-input {
    border: 1px solid $grey8;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    background: white;
    color: $grey8;
    line-height: 1.3;
    margin: 4px 0 4px 0;
    padding: 8px;
    width: 25%;
    appearance: none;
    text-align: left;
}

.name-content, .email-content, .password-content {
    padding: 0px 0px 8px 0px;
}

.login-submit-button {
    border: 1px solid $grey8;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    background: white;
    color: $grey8;
    line-height: 1.3;
    margin: 4px 0 4px 0;
    padding: 8px;
}

.link {
    text-align: center;
    text-decoration: none;
    font-size: 11px;
    margin-top: 30px;
    margin-bottom: 5px;
    width:100%;
    color: $violet9;
}

.link-register {
    font-weight: 500;
    color: $indigo4;
}

.login-header h1{
    color: $grey8;
}