/* Add a black background color to the top navigation */
h4 {
  float: right;
  color: #ffffff;
}

.nav {
    background-color: #333333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .nav a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    float: left;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
  }
  
  /* Change the color of links on hover */
  .nav a:hover {
    background-color: #dddddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .nav a.active {
    text-decoration: underline;
    color: white;
  }
  .dropbtn {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    padding: 27px 20px;
    font-size: 14px;
    border: none;
  }
  .dropdown {
    position: absolute;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #dddddd;
  }
  
  .dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #dddddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn:hover {
    color: #000000;
  } 
